<!-- 
  This file is part of VertNet: https://github.com/VertNet/webapp

  VertNet is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  VertNet is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Foobar.  If not, see: http://www.gnu.org/licenses

  This is the App Engine configuration file for local development.
  Note that static assets are sources from www/ which contains full
  sourcecode without minification. 
-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex5-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
 		<a  class="navbar-brand" href="/">
        	<img src="/img/DAB_330x110.png" width="50%" height="50%" alt="DAB logo" /></a>
  </div>
  <div class="collapse navbar-collapse navbar-ex5-collapse">
    <ul class="nav navbar-nav">
    	<li class=""><a href="http://www.amazoniabiodiversity.org/index.html">&nbsp;<small><b class="glyphicon glyphicon-home"></b></small></a></li>
      <li class="">
        <a id="search" href="/search">Search</a>
      </li>
      <li class="">
        <a id="publishers" href="/publishers">Publishers</a>
      </li>
               
			 <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Resources&nbsp;<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="http://www.amazoniabiodiversity.org/meetings/initialCollaboration.html">Meetings</a>
                    </li>
                    <li>
                      <a href="http://www.amazoniabiodiversity.org/people.html">People</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">About&nbsp;<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="http://www.amazoniabiodiversity.org/index.html">About Dimensions of Amazonian Biodiversity</a>
                    </li>  
                    <li>
                      <a id="stats" href="/stats">Portal Statistics</a>
                    </li>                   
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Feedback&nbsp;<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="http://www.amazoniabiodiversity.org/people.html">Contact Us</a>
                    </li>
                    <li>
                      <a href="http://www.tumblr.com/blog/amazonianbiodiversity" target="_blank">Blog&nbsp;<small><b class="glyphicon glyphicon-share-alt"></b></small></a>
                    </li>
                  </ul>
                </li>
			    <li class=""><a href="http://www.vertnet.org/resources/help.html">&nbsp;<small><b class="glyphicon glyphicon-question-sign"></b></small></a></li>
              </ul>
    </ul>
  </div>
</div>
</nav>
